.main-header {
    background-color: #fcfcfc;
    font-family: Roboto, sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.menu-item {
    display: inline-block;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-uppercase {
    text-transform: uppercase;
}

.main-menu__link {
    display: inline-block;
    padding: 28px 44px;
    color: #16a085;
    font-size: 18px;
    font-weight: 800;
    transition: background-color 1s;
}

.main-menu__link:hover {
    background-color: #16a085;
    color: #fcfcfc;
}

.section-body {
    background-color: #f5f6f7;
    padding-bottom: 86px;
    font-family: Roboto, sans-serif;
}

.body-img {
    display: block;
    margin: 0 auto;
    max-width: 100%
}

.body-header {
    text-align: center;
    margin: 56px 0 0;
    color: #373737;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 2px;
}

.body-text {
    margin: 34px 93px 34px 93px;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2.5px;
    line-height: 25px;
}

.btn {
    border-radius: 3px;
    padding: 20px 44px;
    font-size: 12px;
    font-weight: 700;
    transition: background-color 1s;
    margin-right: 20px;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
}

.btn:last-child {
    margin-right: 0;
}

.footer-label-slash {
    color: #16a085;
}

.footer {
    margin-bottom: 52px;
    font-family: Roboto, sans-serif;
}

.footer-menu {
    display: inline-block;
    padding-left: 67px;
    padding-top: 45px;
}

.footer-menu__item {
    display: inline-block;
    margin-bottom: 52px;
}

.footer-menu__link {
    color: #373737;
    font-size: 18px;
    font-weight: 900;
}

.footer-menu__link:hover {
    color: #16a085;
}

.footer-copyright {
    float: right;
    margin-top: 45px;
    margin-right: 67px;
    letter-spacing: 1px;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: GothamRounded;
    src: url(../fonts/GothamRoundedBold.otf);
}